@mixin button-molecule($theme,$theme-font, $type-font) {
  $colors: map-get($theme, "colors");
  //Todo set variable

  .button {
    background-color: map-get($colors, "backgroundColor");
    color: map-get($colors, "defaultColor");
    i {
      @include my-icon-atom($theme, $weight, $height , $width)
    }
    .text {
      @include my-text-atom($theme, $theme-font, $type-font)
    }


  }
}
