@use "sass:map";

$font-style: normal;
$font-primary: 'Readex Pro';
$font-weight-primary: 400;
$font-weight-secondary: 300;

$theme-font: (
        'title': (
                'family': $font-primary,
                'style': $font-style,
                'weight': $font-weight-primary,
                'size': 32px,
                'height': 40px,
        ),
        'subTitle': (
                'family': $font-primary,
                'style': $font-style,
                'weight': $font-weight-secondary,
                'size': 24px,
                'height': 30px,
        ),
        'text': (
                'family': $font-primary,
                'style': $font-style,
                'weight': $font-weight-secondary,
                'size': 20px,
                'height': 25px,
        ),
        'subText': (
                'family': $font-primary,
                'style': $font-style,
                'weight': $font-weight-secondary,
                'size': 14px,
                'height': 18px,
        )
);
